<!DOCTYPE html>
<html>
<head>
<title>Tell story</title>
</head>
<body>  

<div class="tellstory">
	<div class="container">
		<h2>Tell your story</h2>

		<p><b>Keywords:</p>
		<div style="outline:#000 thin solid; display:table-cell; height:50px; width:700px; vertical-align:middle">
		</div>
		<br>
		
		<p><b>Type in your story here:</p>
		<form>
			<div class="form-group">
				<textarea class="form-control status-box" rows="2" placeholder="What's on your mind?"></textarea>
			</div>
		</form>
		<div class="button-group">
			<p class="counter">1000</p>
			<a href="#" class="btn btn-primary">Post</a>
		</div>
    
		<ul class="posts">
		</ul>
	</div>
</div>
</body>
</html>
